#version=DEVEL
# Use graphical install
graphical
# Network information
network  --bootproto=dhcp --hostname=localhost.localdomain
ignoredisk --only-use=sdb
# Run the Setup Agent on first boot
firstboot --enable
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# System services
services --enabled="chronyd"

# System bootloader configuration
bootloader --location=none
autopart
# Partition clearing information
clearpart --none --initlabel

# Keyboard layouts
keyboard --xlayouts='br'
# System language
lang en_US.UTF-8

# Network information
network  --hostname=localhost.localdomain

# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"

# System timezone
timezone America/Sao_Paulo --utc

# Root password
rootpw --iscrypted $6$T1GIf0WWoNAT5d94$Efc4CRQN.Equ.WuC9TwtA8xROBN/c7aEXZkEcbS2404QFmu3eiEbglOjyVxGD8SGzDUKqUTjgbMnEy222nJko.
user --groups=wheel --name=danilo --password=$6$PF9y4X8MafM5NsPv$bAgHSdoywEA9RRRBDyCgnwpePL4JuNbo9TG2pQuTfi63z7BRvzR7z6FP8kZVBcwznGgwIMAQjzMZy7M2BMoa00 --iscrypted --gecos="Danilo Carvalho e Silva"

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
